<!-- ###########COMMENT-IN TO USE OBSERVABLE DIRECTLY | NO GETTERSETTER########### -->

<!-- <p>{{firestoreService.title}}</p>

<ng-template [ngIf]="firestoreService.usersArr">

    <div *ngFor="let user of firestoreService.users$ | async; let i=index">
        {{i+1}}. <b>{{user.name}}</b>, Phone: {{user.phone}}, Address: {{user.address}}<br><br>
    </div>

</ng-template> -->

<!-- ###########COMMENT-IN TO SUBSCRIBE (IT'S PUBLIC) | NO GETTERSETTER########### -->
<p>{{firestoreService.title}}</p>

<ng-template [ngIf]="firestoreService.usersArr">

    <div *ngFor="let user of firestoreService.usersArr; let i=index">
        {{i+1}}. <b>{{user.name}}</b>, Phone: {{user.phone}}, Address: {{user.address}}<br><br>
    </div>

</ng-template>

<!-- ###########COMMENT-IN TO USE GETTERSETTER (IT'S PRIVATE)######################### -->
<!-- <p>{{title}}</p>
<ng-template [ngIf]="usersArr">

    <div *ngFor="let user of usersArr; let i=index">
        {{i+1}}. <b>{{user.name}}</b>, Phone: {{user.phone}}, Address: {{user.address}}<br><br>
    </div>

</ng-template> -->